# Limits what is sent to the docker daemon and keeps stuff out of the image 
# DO NOT add project/_freeze or anything under project/docs here! 
.git
project/_site
project/site_libs
project/.quarto
**/__pycache__
