*-checkpoint
*.DS_Store*
.Rhistory
.Rproj.user
project/.quarto
project/_site
project/site_libs/*
project/*/*/*/libs/*

/.quarto/
**/*.quarto_ipynb

project/docs/llm_annotations/model_call_scripts/paths.env
