*-checkpoint
*.DS_Store*
.Rhistory
.Rproj.user
project/.quarto
project/_site
project/site_libs/*
project/*/*/*/libs/*

/.quarto/
**/*.quarto_ipynb
project/docs/Data_Engineer/**/*.db
project/docs/Data_Engineer/datasets/wage_responses.csv
project/docs/Data_Engineer/datasets/wage_responses.parquet
