*-checkpoint
*.DS_Store*
.Rhistory
.Rproj.user
project/.quarto
project/_site
project/site_libs/*
project/*/*/*/libs/*
**/.ipynb_checkpoints*
**/*-checkpoint*
*-checkpoint*
notebook_materials/pwt100.dta
project/.quarto/
project/_site/
.Rproj.user
*.Rproj
*/*/*/figure-html/
.Rhistory
/_site

/.quarto/

**/*.quarto_ipynb
