/*-- scss:defaults --*/

$dark-green: #40b34f;
$purple: #6c2f81;
$white: #FFFFFF;
$gray-1: #C4C4C4;
$gray-2: #7D7D7D;
$light-green: #d8f0dc;
$forest-green: #00CC14;


$primary: #40b34f;
$secondary:     $purple !default;
$success:       $purple !default;
//$warning:
$light:         $gray-1;
$dark:          $gray-2;
$important: $purple;

.test h1 {
    text-align: center;
  }
/*-- scss:rules --*/