/*-- scss:defaults --*/

$dark-blue: #002145;
$light-blue: #00a7e1;
$white: #FFFFFF;
$gray-1: #C4C4C4;
$gray-2: #7D7D7D;
$light-green: #d8f0dc;
$forest-green: #00CC14;


$primary: #002145;
$secondary:     $light-blue !default;
$success:       $light-blue !default;
//$warning:
$light:         $gray-1;
$dark:          $gray-2;
$important: $purple;

.test h1 {
    text-align: center;
  }
/*-- scss:rules --*/