numpy
matplotlib
seaborn
pandas
nltk
gensim
torch
torchvision
torchaudio
spaCy
transformers
sentence_transformers
flair
textblob
huggingface_hub[cli]
tensorflow
scikit-learn
datasets
geopandas
networkx
accelerate
sentencepiece==0.1.97
opencv-python
keras


